@import '/src/styles/variables.scss';

.button {
  width: 100%;
  border-radius: 30px;
}

.button_primary {
  @extend .button;
}

.button_naranja {
  @extend .button;
  width: 100%;
  height: 36px;
  border: $orange;
  background-color: $orange;

  &:hover {
    border: $orange;
    background-color: $orange;
  }
}
