.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .logo {
    margin-top: 1rem;
    height: 17%;
    width: 11%;
    display: flex;

    @media (max-width: 768px) {
      width: 50%;
      height: 20%;
    }

    img {
      height: 100%;
      width: 100%;
    }
  }

  .form {
    gap: 0.5rem;
    width: 35%;
    height: 28rem;
    display: flex;
    padding: 1.5rem;
    margin-top: 1rem;
    border-radius: 1.2rem;
    flex-direction: column;
    background-color: rgb(240, 221, 203);

    @media (max-width: 768px) {
      width: 98%;
      height: 31rem;
      gap: 0.5rem;
    }

    .title {
      display: flex;
      justify-content: center;
      span {
        font-size: 2rem;
        font-weight: 600;
        color: rgb(253, 140, 47);
      }
    }

    .name_lastName {
      gap: 0.8rem;
      display: flex;
      .input_text {
        height: 2.5rem;
      }
      @media (max-width: 768px) {
        flex-direction: column;
      }
    }
    .input_gmail {
      height: 2.5rem;
    }
    .input_password {
      height: 2.5rem;
    }

    .span_password {
      color: #fc7765;
      font-weight: 600;
    }

    .input_number {
      width: 50%;
      height: 2.5rem;
    }

    .text_button {
      gap: 5rem;
      display: flex;
      padding-block: 1.3rem;

      .link {
        text-decoration: none;
        color: rgb(255, 153, 1);
        span {
          font-weight: 500;
          font-size: 1.1rem;
          padding-left: 1.4rem;

          @media (max-width: 768px) {
            font-size: 0.9rem;
            padding: 0;
          }
          b {
            color: rgb(75, 204, 255);
          }
        }
      }

      .button_link {
        width: 40%;
        button {
          width: 100%;
          border-radius: 7px;

          &:hover {
            border: #fd8a1f;
            background-color: #fd8a1f;
          }
        }
      }
    }
  }
}
