.container {
  width: 90%;
  height: 12vh;
  display: flex;
  border-radius: 50px;
  align-items: center;
  background-color: #fcfaf6;
  border: 2px solid rgb(255, 162, 95);
  justify-content: space-between;

  .title {
    margin-left: 1rem;
    text-transform: uppercase;
    color: rgb(253, 161, 24);
    h1 {
      font-weight: 700;
      font-size: 2rem !important;
    }
  }
  .items {
    gap: 3rem;
    width: 100%;
    display: flex;
    margin-right: 3rem;
    align-items: center;
    justify-content: flex-end;
    .item_link {
      text-decoration: none;
      color: #fd8a1f;
    }

    .button {
      width: 8rem;
      margin-right: 1rem;
      &:hover {
        border: #fd8a1f;
        background-color: #fd8a1f;
        border-radius: 18px;
      }
    }
  }
}
