.container {
  width: 90%;
  height: 12vh;
  display: flex;
  border-radius: 50px;
  align-items: center;
  background-color: #fcfaf6;
  border: 2px solid rgb(255, 162, 95);
  justify-content: space-between;

  @media (max-width: 768px) {
    height: 8vh;
    padding-inline: 0;
  }

  .title {
    margin-left: 1rem;
    text-transform: uppercase;
    color: rgb(253, 161, 24);
    h1 {
      font-weight: 700;
      font-size: 2rem !important;
    }
    @media (max-width: 768px) {
      margin-left: 0;

      h1 {
        margin-left: 0.5rem;
        font-size: 1.3rem !important;
        margin-top: 0.3rem;
      }
    }
  }
  .items {
    gap: 3rem;
    width: 100%;
    display: flex;
    margin-right: 3rem;
    align-items: center;
    justify-content: flex-end;

    @media (max-width: 768px) {
      gap: 0.7rem;
    }

    .item_link {
      text-decoration: none;
      color: #fd8a1f;
    }

    .button {
      width: 12%;
      margin-right: 1rem;
      @media (max-width: 768px) {
        width: 50%;
        margin-right: 0;
        span {
          font-size: 0.8rem;
        }
      }
      &:hover {
        border: #fd8a1f;
        background-color: #fd8a1f;
        border-radius: 18px;
      }
    }
  }
}
// adsasd
