.div_padre {
  background-color: rgb(255, 254, 241);

  .title {
    font-size: 4rem;
    color: #fd8a1f;
    font-weight: 600;
  }

  .text {
    font-size: 1.5rem;
    font-weight: 500;
    color: #000;
  }

  .container {
    height: 100%;
    margin-top: 2rem;
    padding-block: 2rem;

    .menu_buttons {
      width: 100%;
      display: flex;
      padding-inline: 3rem;
      justify-content: space-between;

      .wrapper_button {
        width: 10rem;
      }
    }
  }
}
