.sidebar {
  width: 25rem !important;

  ::-webkit-scrollbar {
    width: 0 !important;
  }
}

.container {
  .title_control {
    display: flex;
    margin-bottom: 1rem;
    align-items: center;
    justify-content: space-between;

    .icon {
      cursor: pointer;
    }
  }
}
